body {
  background-color: blanchedalmond;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  display: block;
}
h1 {
  color: red;
}

img {
  width: 200px;
  border: solid 15px #f2f2f2;
  display: block;
  margin: 20px auto;
}

a {
  color: black;
}
p {
  text-align: justify;
}
